body {
  background-image: url("https://img.freepik.com/free-vector/hand-drawn-mushroom-pattern_52683-59848.jpg?w=1060&t=st=1667626067~exp=1667626667~hmac=2d337789061b89a010e3ac68bdd02bfe3c0d5c02fd1158d904e326118f98ffe8");
  background-repeat: repeat;
}

div{
  font-family:Arial Narrow Bold
}
